@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	font-family:'Avenir LT Std','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, caption, th, td, img, form {
	margin: 0;
	padding: 0;
	border-collapse:collapse;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	
	list-style-type: none;
}
*{
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
/* テキストエリア内文字サイズのブラウザ間での差異をなくす */
textarea { font-size: 100%; }
/* 画像の下にできる隙間をなくす */

/* hr 要素は不可視で使う */
hr { display: none; }

input {
  border-radius: 0;
}
 
/**
 * 1. Firefox 36+
 
 * 1. Firefox 36+
 */
[type="number"] {
  width: auto; /* 1 */
}
 
/**
 * 1. Safari 8+
 
 * 1. Safari 8+
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
}
 
/**
 * 1. Safari 8
 
 * 1. Safari 8
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* 1 */
}
 
/**
 * 1. Internet Explorer 11+
 * 2. Specify textarea resizability
 
 * 1. Internet Explorer 11+
 * 2. textarea要素に、垂直方向のリサイズを指定。
 */
textarea {
  overflow: auto; /* 1 */
  resize: vertical; /* 2 */
}
 
/**
 * 1. Specify font inheritance of form elements
 
 * 1. フォーム要素に、フォントの継承を指定。
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
}
 
/**
 * 1. Restore the font weight unset by the previous rule.
 
 * 1. 前の指定により、フォントのウェイトを再定義。
 */
optgroup {
  font-weight: bold; /* 1 */
}
 
/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11
 
 * 1. IE8/9/10/11に、overflow時にhiddenを設定。
 */
button {
  overflow: visible; /* 1 */
}
 
/**
 * Remove inner padding and border in Firefox 4+
 
 * Firefox4+に、内側のpaddingとborderを削除。
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
 
/**
 * Replace focus style removed in the border reset above
 
 * 1. フォーカス時のスタイルを定義。
 */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
 
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4
 * 2. Correct the inability to style clickable types in iOS
 
 * 1. Android4に、ネイティブのaudio要素とvideo要素のコントロールのバグを防ぐ。
 * 2. iOSに、クリッカブルなbutton要素のtypeのスタイルを修正。
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
 
/**
 * 1. Firefox 40+, Internet Explorer 11-
 
 * 1. Firefox 40+, Internet Explorer 11-
 */
button,
select {
  text-transform: none; /* 1 */
}
 
/**
 * Remove the default button styling in all browsers
 
 * すべてのブラウザにおいて、デフォルトのボタンのスタイルを削除。
 */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
 
/**
 * Style select like a standard input
 * 1. Firefox 36+
 * 2. Chrome 41+
 
 * 標準的なinput要素のスタイルを選択。
 * 1. Firefox 36+
 * 2. Chrome 41+
 */
select {
  -moz-appearance: none; /* 1*/
  -webkit-appearance: none; /* 2 */
}
 
/**
 * 1. Internet Explorer 11+
 
 * 1. Internet Explorer 11+
 */
select::-ms-expand {
  display: none; /* 1 */
}
 
/**
 * 1. Internet Explorer 11+
 
 * 1. Internet Explorer 11+
 */
select::-ms-value {
  color: currentColor; /* 1 */
}
 
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11
 * 2. Correct the color inheritance from `fieldset` elements in IE
 * 3. Correct the text wrapping in Edge and IE
 * 4. Correct the text wrapping in Edge and IE
 * 5. Correct the text wrapping in Edge and IE
 
 * 1. IE 8/9/10/11に、カラーの継承を定義。
 * 2. IEに、fieldset要素からカラーを継承するように定義。
 * 3. EdgeとIEに、テキストのラッピングを修正。
 * 4. EdgeとIEに、テキストのラッピングを修正。
 * 5. EdgeとIEに、テキストのラッピングを修正。
 */
legend {
  border: 0; /* 1*/
  color: inherit; /* 2 */
  display: table; /* 3 */
  max-width: 100%; /* 4 */
  white-space: normal; /* 5 */
}
 
/**
 * 1. Correct the inability to style clickable types in iOS and Safari
 * 2. Change font properties to `inherit` in Chrome and Safari
 
 * 1. iOSとSafariに、クリッカブルなtypeのスタイルを修正。
 * 2. ChromeとSafariに、フォントプロパティの継承を変更。
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
 
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari
 
 * Chrome, Edge, Safariに、テキストのスタイルを修正。
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
 
/**
 * 1. Correct the odd appearance in Chrome and Safari
 * 2. Correct the outline style in Safari
 
 * 1. ChromeとSafariに、アピアランスを修正。
 * 2. Safariに、アウトラインを修正。
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
 
